.chatBox {
	@apply bg-white dark:bg-gray-800 shadow-md rounded-lg mx-auto w-full flex flex-col items-start p-4;
	overflow-y: auto;
}

.roleColor1 {
	/* @apply bg-blue-500 text-white; */
	background-color: #3b82f6 !important;
	color: #fff !important;
}
.roleColor2 {
	/* @apply bg-green-500 text-black; */
	background-color: #10b981 !important;
	color: #000 !important;
}
.roleColor3 {
	/* @apply bg-purple-500 text-white; */
	background-color: #8b5cf6 !important;
	color: #fff !important;
}
.roleColor4 {
	/* @apply bg-orange-500 text-white; */
	background-color: #f59e0b !important;
	color: #fff !important;
}

.chatBox .message.action {
	@apply bg-gray-200 text-black italic w-full mx-auto text-center items-center;
}
.chatBox .message {
	@apply flex flex-col items-start rounded-lg p-1 whitespace-pre-wrap;
}
.chatBox .message-header {
	@apply flex flex-row items-center w-full ml-2;
}
.chatBox .message button.regenerate,
.chatBox .message button.delete,
.chatBox .message button.copy {
	@apply text-xs text-gray-500 hover:text-white px-1 py-1 rounded-md;
}
.chatBox .message button.regenerate {
	@apply bg-green-100 hover:bg-green-500;
}
.chatBox .message button.delete {
	@apply bg-red-100 hover:bg-red-500;
}
.chatBox .message button.copy {
	@apply bg-blue-100 hover:bg-blue-500;
}
.chatBox .message .role {
	font-size: 12px;
	@apply text-xs text-gray-500 ml-4 mr-2 py-1 rounded-sm bg-gray-100 px-1 font-bold;
}
.chatBox button.bulk-delete {
	@apply bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-full fixed bottom-24 right-4;
}
/* .chatBox .message .role.action {
	@apply text-sm ml-2;
} */

.chatBox .user {
	background-color: #1d4ed8 !important;
	color: #fff !important;
}

.chatBox .assistant {
	background-color: #d1d5db !important;
	color: #000 !important;
}

.assistant-thinking {
	color: #aaa;
	font-style: italic;
}
